.def-cursor{
    cursor:default;
}
.nav-background{
    background-color:rgb(75, 66, 93)!important;
}

.navbar-brand img{
    width:100px;
    
}
.navbar-nav{
    align-items:center;
    
}
.navbar{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}